@font-face{
	font-family: Papyrus;
	src:url(../../public/font/Papyrus.woff) format('woff'), url(../../public/font/Papyrus.woff2) formate('woff2');
  font-weight:600;
  font-style: normal;
}

@-webkit-keyframes rotation {
  0% {-webkit-transform: rotate(0deg);}
  12% {-webkit-transform: rotate(7deg);}
  24% { -webkit-transform: rotate(0deg);}
  36% {-webkit-transform: rotate(-4deg);}
  48% {-webkit-transform: rotate(0deg);}
  60% {-webkit-transform: rotate(3deg);}
  72% { -webkit-transform: rotate(-1deg);}
  84% {-webkit-transform: rotate(1deg);}
  100% {-webkit-transform: rotate(0deg);}
}

body {
	--tileSize: 12.5vw;
  --fontSize: 1.5vw;
  --grey: grey;
  --pink: #FF5DC7;
  --black: black;
}


@media screen and (min-width: 1000px) {
  body{
    --fontSize: 18px;
  }
}
@media screen and (max-width: 600px) {
  body{
    --tileSize: 20vw;
    --fontSize: 2vw
  }
}
@media screen and (max-width: 450px) {
  body{
    --tileSize: 27.5vw;
    --fontSize: 2.5vw
  }
}




nav{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#navDiv{
  display: flex;
  flex-wrap: none;
  align-items:center;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#outerNavUL::-webkit-scrollbar {
  display: none;
}

#outerNavUL{
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: auto;
}

#navUL{
  display:flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.photoli{
  margin: 5px;
}
.photoli img{
  width: var(--tileSize);
  height: var(--tileSize);
  max-width: 150px;
  max-height: 150px;
  box-shadow: 2px 2px 5px var(--black);
}

.photoli:hover{
  -webkit-animation: rotation .4s linear;
  animation: rotation .4s linear;
}

.photoNav img{
  width: 5vw;
  height: var(--tileSize);
  max-width: 150px;
  max-height: 150px;
}

.contact{
  font-family:monospace;
  font-size: var(--fontSize);
  text-align: right;
  margin: 0 calc(5vw + 5px) 0  calc(5vw + 5px);
  color: var(--grey);
}

.contact a{
  text-decoration: none;
  color: grey;
}
.contact a:hover{
  color: var(--pink);
}

#contactDiv{
  margin: 0;
  padding: 0;
  margin: 0 calc(5vw + 5px) 0  calc(5vw + 5px);

}

#contactDiv ul{
  display: flex;
  justify-content: space-between;
  margin: 0 calc(5vw + 5px) 0 calc(5vw + 5px);
  padding: 0;
  margin: 0;
  list-style-type: none;
}



@media screen and (max-width: 600px) {
  .photoNav{
    display:none;
  }
  .contact{
    margin:0;
  }
  #contactDiv{
    margin: 0 0 0 1vw;
  }
} 


.img_clicked{
  transform: rotate(360deg);
}
