@font-face{
	font-family: Papyrus;
	src:url(../fonts/Papyrus.eot); /* IE9 Compat Modes */
	src: local('Papyrus'),
		url('../fonts/Papyrus.eot') format('eot'),
		url('../fonts/Papyrus.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/Papyrus.woff') format('woff'), /* Pretty Modern Browsers */
		url('../fonts/Papyrus.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/Papyrus.svg') format('svg');
}





/*--------------- TITLE NAVIGATION -----------------------*/

body {
	--s1vw: 1vw;
	--s1hvw: 1.5vw;
	--s2vw: 2vw;
	--s4vw: 4vw;
	--s7vw: 7vw;
	--s10vw: 10vw;
	--sm7vw: -7vw;
	--sm20vw: -2vw;
}

#container{
	position: relative;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: Papyrus/*, fantasy, Goudy Old Style, Palatino Linotype*/;
	margin: 0 0 0 0;
	padding: 0;
}





/*--------------- TITLE NAVIGATION -----------------------*/

#navDiv{
	width: 100%;
	float: left;
	margin-bottom: 8%;
	margin-top: 2%;
}

.photoNav{
	float: left;
	width: 10vw;
	height: 11vw;
	margin-left: 1vw;
	overflow: hidden;

}
.photoNav img{
	width: 10vw;
	margin-top: 0.5vw;
}

#navUL{
	float: left;
	list-style-type: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	overflow:hidden;
	height: 11.5vw;
	width: 75vw;
}

#navUL li{
}

.photoli img{
	width: 11.5vw;
	float: left;
	margin-left: 1vw;
	margin-bottom: 1vw;
}


#contactLine {
	position: absolute;
	font-size: 2vw;
	color:#666;
	width: 100vw;
	margin-top: -3vw;
}

#contactLine a:link {
	color:#666;
	text-decoration: none; }
#contactLine a:visited {
	color:#666;
	font-style:normal; }
#contactLine a:hover {
	color:#FF5DC7; }
#contactLine a:active {
	color:#FF5DC7;
	font-style:normal;
}



/*-----------------------Main Section----------------*/


#questionContent{
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}



#breath{
	clear: both;
}




.faq{
	width: 90%;
	margin: 0 auto 0 auto;
	font-size: 6vw;
	text-align: center;
	list-style-type: none;
	padding-top: 2%;
}

.ques {
	font-family: serif;
	font-size: 2vw;
	color: black;
	font-weight: bold;
	text-align: justify;
	list-style-type: none;
}

.ansr {
	font-family: serif;
	font-size: 2vw;
	color: black;
	text-align: justify;
	margin: 0 4% 4% 2%;
	padding: 2%;
	background-color: lightgoldenrodyellow;
}



/*iPad*/
@media only screen and (max-width: 1025px) {

		/*--------------- TITLE NAVIGATION -----------------------*/

		.photoNav{
			height: 13vw;
			width: 9vw;

		}
		.photoNav img{
			margin-top: 2vw;
			width: 9vw;
		}

		#navUL{
			height: 14vw;
		}

		.photoli img{
			width: 14vw;
		}

		#contactLine {
			font-size: 2vw;
			margin-top: -3vw;
		}


		/*-----------------------Main Section----------------*/


		.faq{
			font-size: 6vw;
		}

		.ques {
			font-size: 3vw;
		}

		.ansr {
			font-size: 2vw;
		}


}

/*iphone*/
@media only screen and (max-width: 600px) {


	/*--------------- TITLE NAVIGATION -----------------------*/


	.photoNav{
		height: 16.5vw;
	}
	.photoNav img{
		margin-top: 3.5vw;
	}

	#navUL{
		height: 18vw;
		width: 72vw;
	}
	.photoli img{
		width: 17vw;
	}
	#contactLine {
		font-size: 2vw;
		margin-top: -3vw;
	}



	.faq{
		font-size: 6vw;
	}

	.ques {
		font-size: 4vw;
		text-align: center;
	}

	.ansr {
		font-size: 3vw;
	}
}
